body,
button,
input,
select,
textarea {
	color: var(--khn-color-text-default);
	font-family: var(--khn-font-family-body);
	font-size: var(--khn-font-size-body);
/*	@include font-size(1.1); */
	font-weight: 300;
	line-height: var(--khn-scalar-line-height-base);

	@media screen and (min-width: $query__small) {
/*		@include font-size(1.25); */
		font-size: var(--khn-font-size-body);
	}
}

@import "headings";

@import "copy";@import "headings-hierarchical-main";

@import "headings-hierarchical-styling";