body,
button,
input,
select,
textarea {
	color: var(--khn-color-text-defaultX);
	font-family: var(--khn-font-family-bodyX);
	font-size: var(--khn-font-size-bodyX);
/*	@include font-size(1.1); */
	font-weight: 300;
	line-height: var(--khn-scalar-line-height-baseX);

	@media screen and (min-width: $query__small) {
/*		@include font-size(1.25); */
		font-size: var(--khn-font-size-bodyX);
	}
}



@import "copy";

@import "headings";

@import "headings-hierarchical-main";

@import "headings-hierarchical-styling";