/*	Revises CSS for Modern Footnotes, incorporating CSS variables from Kuhnian Theme */
.modern-footnotes-footnote__note--expandable {
  margin-top:		var( --khn-margin-top-footnoteX )		;
  margin-bottom:	var( --khn-margin-bottom-footnoteX )		;
  margin-left:		var( --khn-margin-left-footnoteX )		;
  margin-right:		var( --khn-margin-right-footnoteX )		;
  background-color:	var( --khn-color-background-footnoteX )	;
  border:			var( --khn-border-footnoteX ) ;
}

.modern-footnotes-footnote__note {
//	Remove default text-indent. (Even the first paragraph of a footnote would be indented because it triggers the p + p rule.) 
  text-indent:	0 ; 
//	Tighten the line-height for footnote text. 
  line-height:	var( --khn-line-height-footnote-textX ) ;
  color:		var( --khn-color-text-footnoteX ) ;
  font-size:	var( --khn-font-size-footnote-textX ) ;
  font-family:	var( --khn-font-family-footnote-textX ) ;
}
