$color__grey_black:				var(--color-grey-black)		;
$color__grey_dark:				var(--color-grey-dark)		;
$color__grey_light:				var(--color-grey-light)		;
$color__grey_x_light:			var(--color-grey-x-light)	;

$color__background-body:		var(--color-background-body)	;
$color__background-screen:		var(--color-background-screen)	;
$color__background-hr:			var(--color-background-hr)		;
$color__background-button:		var(--color-background-button)	;
$color__background-pre:			var(--color-background-pre)		;
$color__background-ins:			var(--color-background-ins)		;

$color__text-screen:			var(--color-text-screen)		;
$color__text-input:				var(--color-text-input)			;
$color__text-input-focus:		var(--color-text-input-focus)	;

$color__link:					var(--khn-color-link-unvisitedX)	;
$color__link-visited:			var(--khn-color-link-visitedX)	;
$color__link-hover:				var(--khn-color-link-hoverX)		;
$color__text-main:				var(--khn-color-link-activeX)	;

$color__border-button:			var(--color-border-button)			;
$color__border-button-hover:	var(--color-border-button-hover)	;
$color__border-button-focus:	var(--color-border-button-focus)	;
$color__border-input:			var(--color-border-input)			;
$color__border-abbr:			var(--color-border-abbr)			;