/*	New partial, specific to the Kuhn-CSSvars fork, and to Kuhnian, to hold the new CSS
	variables 
*/

:root {
/*	For footnotes (Modern Footnotes) */
	--khn-margin-left-footnoteX:			1em	;
	--khn-margin-right-footnoteX:		1em	;
	--khn-margin-top-footnoteX:			1em	;
	--khn-margin-bottom-footnoteX:		1em	;
/*	--khn-font-family-footnote-textX:	var( --khn-font-family-bodyX ) ; */
	--khn-font-family-footnote-textX:	var( --khn-font-family-sans-serifX ) ;
	--khn-font-size-footnote-textX:		0.9em ;
	--khn-line-height-footnote-textX:	1.2 ;
	--khn-border-footnoteX:				none 2px orange ;
	--khn-color-text-footnoteX:			var( --khn-color-text-defaultX )	;
	--khn-color-background-footnoteX:	var( --khn-color-theme-secondary-very-fadedX ) ;
}
