/*	New partial, specific to the Kuhn-CSSvars fork, and to Kuhnian, to hold the new CSS variables  */
@import "custom-properties-colors";
:root {
/***	Refactors partial _typography.scss ****/
	--font-main:				'Rubik', sans-serif			;
	--font-meta:				'Roboto Mono', sans-serif	;
	--font-code:				Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace	;
	--font-pre:					"Courier 10 Pitch", Courier, monospace							;
	--font-line-height-body:	1.5	;
	--font-line-height-pre:		1.6	;
/***	New CSS variables beyond any Sass variables defined in Kuhn ****/
/*	Font families	*/
	--khn-font-family-serif:				"PT Serif", "Times New Roman", serif		;
	--khn-font-family-sans-serif:			"PT Sans", Arial, Helvetica, sans-serif		;
	--khn-font-family-sans-serif-alt:		"Open Sans", Arial, Helvetica, sans-serif	;
	--khn-font-family-cursive:				"Petit Formal Script", cursive				;
	--khn-font-family-body:					var(--khn-font-family-serif)			;
	--khn-font-family-headings:				var(--khn-font-family-sans-serif)		;
	--khn-font-family-entry-header:			var(--khn-font-family-sans-serif)		;
	--khn-font-family-generic-elements:		var(--khn-font-family-sans-serif)		;
	--khn-font-family-menus:				var(--khn-font-family-sans-serif-alt)	;
	--khn-font-family-site-logo:			var(--khn-font-family-cursive)			;
/*	Lengths for paragraphs */
	--khn-length-font-size-base:				16px	;
	--khn-scalar-line-height-base:				1.5		;
/*	Lengths for paragraphs */
	--khn-length-font-size-paragraph:			16px	;
	--khn-scalar-line-height-paragraph:			1.5		;
	--khn-length-indent-paragraph:				1.0em	;
	--khn-length-margin-bottom-paragraph:		0.6em	;
}