/*	New partial, specific to the Kuhn-CSSvars fork, and to Kuhnian, to hold the new CSS
	variables 
*/

:root {
//  Background color for entire hamburger button. Typically this would be transparent, but you can change it for diagnostic purposes because this area corresponds to the clickable area.
    --khn-hamburger-color-background:	transparent ;

//	Outline styling of button 
//	Can be useful for diagnostic purposes. The outlined area appears to be the same as the background-color area, which is the same as the clickable region. In any case, these definitions are important in order to override the user-agent defaults.
    --khn-hamburger-outline-style: none ;
    --khn-hamburger-outline-width: 1px ;
    --khn-hamburger-outline-color: black ;

//	At a minimum, specifying border styles serves the purpose of overriding the default border specifications from the user-agent
    --khn-hamburger-border-style:	none ;
    --khn-hamburger-border-width:	1px ;
    --khn-hamburger-border-color:	purple ;

//  Positions/pads the hamburger
    --khn-hamburger-position-type:	absolute ;
//  If --khn-hamburger-position-type is "absolute", these specify location of hamburger relative to its containing block (i.e., the ancestor relative to which the element is positioned.)

    --khn-hamburger-left:  10em ;
    --khn-hamburger-top:   20em ;

//  Sets padding around the button. Importantly, padding is included in the clickable area of the button.
    --khn-hamburger-padding-top:	15px ;
    --khn-hamburger-padding-bottom: 15px ;
    --khn-hamburger-padding-left:	15px ;
    --khn-hamburger-padding-right:	15px ;
    --khn-hamburger-padding:		var( --khn-hamburger-padding-top )
                                        var( --khn-hamburger-padding-right )
                                        var( --khn-hamburger-padding-bottom )
                                        var( --khn-hamburger-padding-left ) ;

    --khn-hamburger-margin-top:		10px ;
    --khn-hamburger-margin-bottom:	10px ;
    --khn-hamburger-margin-left:	10px ;
    --khn-hamburger-margin-right:	10px ;
    --khn-hamburger-margin:         var( --khn-hamburger-margin-top )
                                        var( --khn-hamburger-margin-right )
                                        var( --khn-hamburger-margin-bottom )
                                        var( --khn-hamburger-margin-left ) ;

//  The common width/height of the slices are determined by --khn-hamburger-width and --khn-hamburger-slice-thickness
    --khn-hamburger-width:				44px ;
    --khn-hamburger-slice-thickness:	5px ;
    --khn-hamburger-gap-between-slices:	10px ;

//  The below larger sizes exist for diagnosing the clickable area
//    --khn-hamburger-width:				88px ;
//    --khn-hamburger-slice-thickness: 	10px ;
//    --khn-hamburger-gap-between-slices: 20px ;

//  Calculates total width and height, respectively, of hamburger, including any padding. Used to provide the horizontal dimension for the enclosing button in its hamburger configuration.
    --khn-hamburger-total-width-not-X:
        calc( var( --khn-hamburger-width ) +
              var( --khn-hamburger-padding-left ) + 
              var( --khn-hamburger-padding-right )
            ) ;

    --khn-hamburger-total-height-not-X:
        calc( var( --khn-hamburger-slice-thickness ) + 
              2 * var( --khn-hamburger-gap-between-slices ) +
              var( --khn-hamburger-padding-bottom ) + 
              var( --khn-hamburger-padding-top )
        ) ;
//  Calculates total height, including padding, of the hamburger in its "X" configuration
//	Note: 0.70707 = 1/SQRT(2). Ensures sufficient clickable area vertically.
    --khn-hamburger-total-height-as-X:
        calc(	0.70707 * var( --khn-hamburger-width ) +
              var( --khn-hamburger-padding-bottom ) + 
              var( --khn-hamburger-padding-top )
            ) ;

//	Determines color of the hamburger slices
    --khn-hamburger-color-hamburger:		var( --khn-color-text-site-header ) ;
//	Controls how rounded the corners of the hamburger bars are 
    --khn-hamburger-border-radius:			7px ;

//	Controls speed of animation 
    --khn-hamburger-transition-time:		600ms ;
}
