/*	New partial, specific to the Kuhn-CSSvars fork, and to Kuhnian, to hold the new CSS
	variables 
*/
/*	Not all color-related CSS variables are defined here. Some are defined along with their
	related properties
*/
:root {
/***	Refactors partial _colors.scss ****/
/*	Specific colors */
	--color-grey-black:		hsl(210, 10%, 15%)	;
	--color-grey-dark:		hsl(210, 10%, 27%)	;
	--color-grey-light:		hsl(0, 0%, 80%)		;
	--color-grey-x-light:	hsl(0, 0%, 95%)		;
/*	Background color assignments */
	--color-background-body:		#fff	;
	--color-background-screen:		#f1f1f1	;
	--color-background-hr:			#ccc	;
	--color-background-button:		#e6e6e6	;
	--color-background-pre:			#eee	;
	--color-background-ins:			#fff9c0	;
/*	Text color assignments */
	--color-text-screen:			#21759b	;
	--color-text-input:				#666	;
	--color-text-input-focus:		#111	;
/*	Border color assignments */
	--color-border-button:			#ccc #ccc #bbb	;
	--color-border-button-hover:	#ccc #bbb #aaa	;
	--color-border-button-focus:	#aaa #bbb #bbb	;
	--color-border-input:			#ccc			;
	--color-border-abbr:			#666			;
/*	Link color assignments */
	--color-link:			var(--color-grey-black);
	--color-link-visited:	var(--color-grey-dark);
	--color-link-hover:		var(--color-grey-black);
	--color-text-main:		var(--color-grey-black);
/***	New CSS variables beyond any Sass variables defined in Kuhn ****/
/*	Theme colors */
	--khn-color-theme-primaryX:					#88187F		;
	--khn-color-theme-primary-fadedX:			#c38bbf		;
	--khn-color-theme-secondaryX:				#18882b		;
	--khn-color-theme-secondary-fadedX:			#8bc395		;
	--khn-color-theme-secondary-very-fadedX:		#d0e7d4		;
	--khn-color-theme-tertiaryX:					#885418		;
	--khn-color-theme-tertiary-fadedX:			#B79874		;
	--khn-color-theme-whitishX:					white		;
	--khn-color-theme-light-grayishX:			#444		;
	--khn-color-theme-grayishX:					#777		;
	--khn-color-theme-dark-grayishX:				#222		;
	--khn-color-theme-very-dark-grayishX:		#111		;
	--khn-color-theme-primary-contrastX:			white		;
	--khn-color-theme-secondary-contrastX:		white		;
	--khn-color-theme-tertiary-contrastX:		white		;
	--khn-color-theme-whitish-contrastX:			var(--khn-color-theme-dark-grayishX)	;
/*	Other colors */
	--khn-color-theme-dark-blueishX:				#575797		;
	--khn-color-theme-new-midnight-blueishX:		#0202AB		;
	--khn-color-theme-pelorousishX:				#1990b8		;
	--khn-color-theme-forest-greenishX:			#2f9c0a		;
	--khn-color-theme-pigment-greenishX:			#009a4d		;
	--khn-color-theme-tawnyishX:					#cd6700		;
	--khn-color-theme-dark-violetishX:			#7800cd		;
	--khn-color-theme-dark-magentaishX:			#9a009a		;
/*	Text colors */
	--khn-color-text-defaultX:					var(--khn-color-theme-very-dark-grayishX)	;
	--khn-color-text-subduedX:					var(--khn-color-theme-grayishX)				;
	--khn-color-code-metaX:						var(--khn-color-theme-dark-blueishX)			;
	--khn-color-codeX:							var(--khn-color-theme-new-midnight-blueishX)	;
	--khn-color-code-token-keywordX:				var(--khn-color-theme-pelorousishX)			;
	--khn-color-code-token-function-selectorX:	var(--khn-color-theme-forest-greenishX)		;
	--khn-color-outputX:							black		;
	--khn-color-text-h1X:						var( --khn-color-text-defaultX )		;
	--khn-color-text-h2X:						var( --khn-color-theme-tertiaryX )	;
	--khn-color-text-h3X:						var( --khn-color-theme-secondaryX )	;
	--khn-color-text-h4X:						var( --khn-color-text-defaultX )		;
	--khn-color-text-h5X:						var( --khn-color-theme-primaryX )	;
	--khn-color-text-h6X:						var( --khn-color-theme-dark-blueishX );

	--khn-color-text-h1-contrastX:	var( --khn-color-theme-whitish-contrastX )	;
	--khn-color-text-h2-contrastX:	var( --khn-color-theme-tertiary-contrastX )	;
	--khn-color-text-h3-contrastX:	var( --khn-color-theme-secondary-contrastX )	;
	--khn-color-text-h4-contrastX:	var( --khn-color-theme-whitishX )	;
	--khn-color-text-h5-contrastX:	var( --khn-color-theme-primary-contrastX )	;
	--khn-color-text-h6-contrastX:	var( --khn-color-theme-whitish-contrastX )	;
	
/*	Link colors (and text-decoration)*/
/*	See https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3 */
	--color-link-default-unvisited:			#0000EE ;
	--color-link-default-visited:			#551A8B ;
	--color-link-default-hover:				#FFFF00 ;
	--color-link-default-active:			#FF0000 ;
	
	--khn-color-link-unvisitedX:				var(--color-link-default-unvisited)		;
	--khn-color-link-visitedX:				var(--color-link-default-visited)		;
	--khn-color-link-hoverX:					var(--khn-color-theme-primary-contrastX)	;
	--khn-color-link-activeX:				var(--color-link-default-active)		;

	--khn-color-background-link-unvisitedX:	transparent						;
	--khn-color-background-link-visitedX:	transparent						;
	--khn-color-background-link-hoverX:		var(--khn-color-theme-secondaryX)	;
	--khn-color-background-link-activeX:		transparent						;

	--khn-text-decoration-link-unvisitedX:	none	;
	--khn-text-decoration-link-visitedX:		none	;
	--khn-text-decoration-link-hoverX:		none	;
	--khn-text-decoration-link-activeX:		none	;
	
	--khn-outline-link-unvisitedX:		none	;
	--khn-outline-link-visitedX:			none	;
	--khn-outline-link-hoverX:			none	;
	--khn-outline-link-focusX:			none	;
	--khn-outline-link-activeX:			none	;
/*	Site header colors */
	--khn-color-background-site-headerX:		var(--khn-color-theme-primaryX)	;
	--khn-color-text-site-headerX:			var(--khn-color-theme-primary-contrastX)	;
/*	--khn-color-background-main-navigationX:		hsla(0,0%,100%,.05) ; */
	--khn-color-background-main-navigationX:		hsla(0,0%,100%,0) ;
	
/*	Grid background */
	--khn-color-background-archiveX:		var( --khn-color-theme-primaryX ) ;

}
