/*	New partial, specific to the Kuhn-CSSvars fork, and to Kuhnian, to hold the new CSS
	variables.
	
	See  … sass/typography/_headings-hierarchical.scss for relevant styling rules.
	
	The styling for these headings were inspired by Demo 2 of "Heading Set Styling with CSS,"
	<https://tympanus.net/Tutorials/HeadingSets/index2.html>, 
	
*/
:root {
/*	Heirarchical heading numbers */
	
	--khn-hnumber-default-margin-topX:		0.5rem ;
	--khn-hnumber-default-margin-bottomX:	0.5rem ;
	
	--khn-hnumber-default-padding-topX:		0.0rem ;
	--khn-hnumber-default-padding-rightX:	1rem ;
	--khn-hnumber-default-padding-bottomX:	0rem ;
	--khn-hnumber-default-padding-leftX:		1rem ;

	--khn-hnumber-default-before-paddingX:	0.25rem ; 
	
	--khn-hnumber-h2-padding-leftX:	var( --khn-hnumber-default-padding-leftX ) ;
	--khn-hnumber-h3-padding-leftX:	var( --khn-hnumber-default-padding-leftX ) ;
	--khn-hnumber-h4-padding-leftX:	var( --khn-hnumber-default-padding-leftX ) ;
	--khn-hnumber-h5-padding-leftX:	var( --khn-hnumber-default-padding-leftX ) ;
	--khn-hnumber-h6-padding-leftX:	var( --khn-hnumber-default-padding-leftX ) ;

/*	Common min-width of heading-numbering area */
	--khn-hnumber-default-min-widthX:		5.25rem ;
	--khn-hnumber-h2-min-widthX:				var( --khn-hnumber-default-min-widthX ) ;
	--khn-hnumber-h3-min-widthX:				var( --khn-hnumber-default-min-widthX ) ;
	--khn-hnumber-h4-min-widthX:				var( --khn-hnumber-default-min-widthX ) ;
	--khn-hnumber-h5-min-widthX:				var( --khn-hnumber-default-min-widthX ) ;
	--khn-hnumber-h6-min-widthX:				var( --khn-hnumber-default-min-widthX ) ;

/*	The auxiliary color is for the border and the background for the header number */
	--khn-hnumber-h2-auxiliary-colorX:		var( --khn-color-theme-tertiary-fadedX ) ;
	--khn-hnumber-h3-auxiliary-colorX:		var( --khn-color-theme-secondary-fadedX ) ;
	--khn-hnumber-h4-auxiliary-colorX:		var( --khn-color-theme-light-grayishX ) ;
	--khn-hnumber-h5-auxiliary-colorX:		var( --khn-color-theme-primary-fadedX ) ;
	--khn-hnumber-h6-auxiliary-colorX:		#bbbbd5 ;

	--khn-hnumber-h2-auxiliary-color-contrastX:	var( --khn-color-theme-tertiary-contrastX ) ;
	--khn-hnumber-h3-auxiliary-color-contrastX:	var( --khn-color-text-h3-contrastX ) ;
	--khn-hnumber-h4-auxiliary-color-contrastX:	var( --khn-color-text-h4-contrastX ) ;
	--khn-hnumber-h5-auxiliary-color-contrastX:	var( --khn-color-text-h5-contrastX ) ;
	--khn-hnumber-h6-auxiliary-color-contrastX:	var( --khn-color-text-h6-contrastX ) ;

/*	Constructs (a) border-style, (b) border-width, (c) border-radius for main h# element, and
	(d) border-radius for h#::before
	
	I'm assuming that any particular border will be turned off by setting its width to zero.
*/ 

	--khn-hnumber-default-border-styleX:		solid ;
	--khn-hnumber-h2-border-styleX:			ridge ;
	--khn-hnumber-h3-border-styleX:			double ;
	--khn-hnumber-h4-border-styleX:			var( --khn-hnumber-default-border-styleX ) ;
	--khn-hnumber-h5-border-styleX:			var( --khn-hnumber-default-border-styleX ) ;
	--khn-hnumber-h6-border-styleX:			var( --khn-hnumber-default-border-styleX ) ;
	
	--khn-hnumber-h2-border-widthX:			var( --khn-hnumber-h2-border-top-widthX ) 
											var( --khn-hnumber-h2-border-right-widthX )
											var( --khn-hnumber-h2-border-bottom-widthX )
											var( --khn-hnumber-h2-border-left-widthX )	;
									
	--khn-hnumber-h2-border-radiusX:			var( --khn-hnumber-h2-border-top-left-radiusX )
											var( --khn-hnumber-h2-border-top-right-radiusX )
											var( --khn-hnumber-h2-border-bottom-right-radiusX )
											var( --khn-hnumber-h2-border-bottom-left-radiusX )	;
	
	--khn-hnumber-h2-before-border-radiusX:	var( --khn-hnumber-h2-before-border-top-left-radiusX )
											var( --khn-hnumber-h2-before-border-top-right-radiusX )
											var( --khn-hnumber-h2-before-border-bottom-right-radiusX )
											var( --khn-hnumber-h2-before-border-bottom-left-radiusX )  ;

	--khn-hnumber-h3-border-widthX:			var( --khn-hnumber-h3-border-top-widthX ) 
											var( --khn-hnumber-h3-border-right-widthX )
											var( --khn-hnumber-h3-border-bottom-widthX )
											var( --khn-hnumber-h3-border-left-widthX )	;
									
	--khn-hnumber-h3-border-radiusX:			var( --khn-hnumber-h3-border-top-left-radiusX )
											var( --khn-hnumber-h3-border-top-right-radiusX )
											var( --khn-hnumber-h3-border-bottom-right-radiusX )
											var( --khn-hnumber-h3-border-bottom-left-radiusX )	;

	--khn-hnumber-h3-before-border-radiusX:	var( --khn-hnumber-h3-before-border-top-left-radiusX )
											var( --khn-hnumber-h3-before-border-top-right-radiusX )
											var( --khn-hnumber-h3-before-border-bottom-right-radiusX )
											var( --khn-hnumber-h3-before-border-bottom-left-radiusX )  ;
	
	--khn-hnumber-h4-border-widthX:			var( --khn-hnumber-h4-border-top-widthX ) 
											var( --khn-hnumber-h4-border-right-widthX )
											var( --khn-hnumber-h4-border-bottom-widthX )
											var( --khn-hnumber-h4-border-left-widthX )	;
									
	--khn-hnumber-h4-border-radiusX:			var( --khn-hnumber-h4-border-top-left-radiusX )
											var( --khn-hnumber-h4-border-top-right-radiusX )
											var( --khn-hnumber-h4-border-bottom-right-radiusX )
											var( --khn-hnumber-h4-border-bottom-left-radiusX )	;

	--khn-hnumber-h4-before-border-radiusX:	var( --khn-hnumber-h4-before-border-top-left-radiusX )
											var( --khn-hnumber-h4-before-border-top-right-radiusX )
											var( --khn-hnumber-h4-before-border-bottom-right-radiusX )
											var( --khn-hnumber-h4-before-border-bottom-left-radiusX )  ;

	--khn-hnumber-h5-border-widthX:			var( --khn-hnumber-h5-border-top-widthX ) 
											var( --khn-hnumber-h5-border-right-widthX )
											var( --khn-hnumber-h5-border-bottom-widthX )
											var( --khn-hnumber-h5-border-left-widthX )	;
									
	--khn-hnumber-h5-border-radiusX:			var( --khn-hnumber-h5-border-top-left-radiusX )
											var( --khn-hnumber-h5-border-top-right-radiusX )
											var( --khn-hnumber-h5-border-bottom-right-radiusX )
											var( --khn-hnumber-h5-border-bottom-left-radiusX )	;

	--khn-hnumber-h5-before-border-radiusX:	var( --khn-hnumber-h5-before-border-top-left-radiusX )
											var( --khn-hnumber-h5-before-border-top-right-radiusX )
											var( --khn-hnumber-h5-before-border-bottom-right-radiusX )
											var( --khn-hnumber-h5-before-border-bottom-left-radiusX )  ;

	--khn-hnumber-h6-border-widthX:			var( --khn-hnumber-h6-border-top-widthX ) 
											var( --khn-hnumber-h6-border-right-widthX )
											var( --khn-hnumber-h6-border-bottom-widthX )
											var( --khn-hnumber-h6-border-left-widthX )	;
									
	--khn-hnumber-h6-border-radiusX:			var( --khn-hnumber-h6-border-top-left-radiusX )
											var( --khn-hnumber-h6-border-top-right-radiusX )
											var( --khn-hnumber-h6-border-bottom-right-radiusX )
											var( --khn-hnumber-h6-border-bottom-left-radiusX )	;

	--khn-hnumber-h6-before-border-radiusX:	var( --khn-hnumber-h6-before-border-top-left-radiusX )
											var( --khn-hnumber-h6-before-border-top-right-radiusX )
											var( --khn-hnumber-h6-before-border-bottom-right-radiusX )
											var( --khn-hnumber-h6-before-border-bottom-left-radiusX )  ;

/*	Defines width of each side of each element's border.
	Typically takes form: Use the element's default boundary width for each side; then set
	to zero each side that should not take a border.
*/

	--khn-hnumber-h2-boundary-widthX: 	5px ;
	--khn-hnumber-h3-boundary-widthX: 	3px ;
	--khn-hnumber-h4-boundary-widthX: 	1px ;
	--khn-hnumber-h5-boundary-widthX: 	0px ;
	--khn-hnumber-h6-boundary-widthX: 	0px ;
	
	--khn-hnumber-h2-border-top-widthX:		var( --khn-hnumber-h2-boundary-widthX ) ;
	--khn-hnumber-h2-border-right-widthX:	var( --khn-hnumber-h2-boundary-widthX ) ;
	--khn-hnumber-h2-border-bottom-widthX:	var( --khn-hnumber-h2-boundary-widthX ) ;
	--khn-hnumber-h2-border-left-widthX:		var( --khn-hnumber-h2-boundary-widthX ) ;
	
	--khn-hnumber-h3-border-top-widthX:		var( --khn-hnumber-h3-boundary-widthX ) ;
	--khn-hnumber-h3-border-right-widthX:	var( --khn-hnumber-h3-boundary-widthX ) ;
	--khn-hnumber-h3-border-bottom-widthX:	var( --khn-hnumber-h3-boundary-widthX ) ;
	--khn-hnumber-h3-border-left-widthX:		var( --khn-hnumber-h3-boundary-widthX ) ;

	--khn-hnumber-h4-border-top-widthX:		var( --khn-hnumber-h4-boundary-widthX ) ;
	--khn-hnumber-h4-border-right-widthX:	0 ;
	--khn-hnumber-h4-border-bottom-widthX:	0 ;
	--khn-hnumber-h4-border-left-widthX:		0 ;

	--khn-hnumber-h5-border-top-widthX:		var( --khn-hnumber-h5-boundary-widthX ) ;
	--khn-hnumber-h5-border-right-widthX:	var( --khn-hnumber-h5-boundary-widthX ) ;
	--khn-hnumber-h5-border-bottom-widthX:	var( --khn-hnumber-h5-boundary-widthX ) ;
	--khn-hnumber-h5-border-left-widthX:		var( --khn-hnumber-h5-boundary-widthX ) ;

	--khn-hnumber-h6-border-top-widthX:		var( --khn-hnumber-h6-boundary-widthX ) ;
	--khn-hnumber-h6-border-right-widthX:	var( --khn-hnumber-h6-boundary-widthX ) ;
	--khn-hnumber-h6-border-bottom-widthX:	var( --khn-hnumber-h6-boundary-widthX ) ;
	--khn-hnumber-h6-border-left-widthX:		var( --khn-hnumber-h6-boundary-widthX ) ;

/*	Defines border-radius for each corner of (a) each h# element's border and
	(b) each h#::before pseudo element's background.

	Note: --khn-hnumber-hX#-before-border-top-left-radius should be chosen to match 
	--khn-hnumber-hX#-border-top-left-radius. (Same for bottom-left.) However, setting
	the values equal doesn't work. --khn-hnumber-hX#-before-border-top-left-radius must
	be a little smaller (e.g., 15px) than --khn-hnumber-hX#-border-top-left-radius (20px).
	
*/
	
	--khn-hnumber-default-border-radiusX:			20px	;
	--khn-hnumber-default-before-border-radiusX:		15px		;
	
	--khn-hnumber-default-before-border-top-right-radiusX:		0 ;
	--khn-hnumber-default-before-border-bottom-right-radiusX:	0 ;
	
	--khn-hnumber-h2-border-radius-commonX:				var( --khn-hnumber-default-border-radiusX )   ;
	--khn-hnumber-h2-border-top-left-radiusX:			0 ;
//	--khn-hnumber-h2-border-top-right-radiusX:			var( --khn-hnumber-h2-border-radius-commonX ) ;
	--khn-hnumber-h2-border-top-right-radiusX:			0 ;
	--khn-hnumber-h2-border-bottom-right-radiusX:		var( --khn-hnumber-h2-border-radius-commonX ) ;
//	--khn-hnumber-h2-border-bottom-left-radiusX:			var( --khn-hnumber-h2-border-radius-commonX ) ;
	--khn-hnumber-h2-border-bottom-left-radiusX:			0 ;

	--khn-hnumber-h2-before-border-left-radius-commonX:	var( --khn-hnumber-default-before-border-radiusX ) ;
	--khn-hnumber-h2-before-border-top-left-radiusX:		0 ;
	--khn-hnumber-h2-before-border-top-right-radiusX:	var( --khn-hnumber-default-before-border-top-right-radiusX )	;
	--khn-hnumber-h2-before-border-bottom-right-radiusX:	var( --khn-hnumber-default-before-border-radiusX ) ;
	--khn-hnumber-h2-before-border-bottom-left-radiusX:	0 ;
	
	--khn-hnumber-h3-border-radius-commonX:				var( --khn-hnumber-default-border-radiusX ) ;
	--khn-hnumber-h3-border-top-left-radiusX:			var( --khn-hnumber-h3-border-radius-commonX ) ;
	--khn-hnumber-h3-border-top-right-radiusX:			0 ;
	--khn-hnumber-h3-border-bottom-right-radiusX:		var( --khn-hnumber-h3-border-top-left-radiusX ) ;
	--khn-hnumber-h3-border-bottom-left-radiusX:			0 ;

	--khn-hnumber-h3-before-border-left-radius-commonX:	var( --khn-hnumber-default-before-border-radiusX ) ;
	--khn-hnumber-h3-before-border-top-left-radiusX:		var( --khn-hnumber-h3-before-border-left-radius-commonX ) ;
	--khn-hnumber-h3-before-border-top-right-radiusX:	var( --khn-hnumber-default-before-border-top-right-radiusX )	;
	--khn-hnumber-h3-before-border-bottom-right-radiusX:	var( --khn-hnumber-h3-before-border-top-left-radiusX ) ;
	--khn-hnumber-h3-before-border-bottom-left-radiusX:	0 ;
	
	--khn-hnumber-h4-border-radius-commonX:				var( --khn-hnumber-default-border-radiusX ) ;
	--khn-hnumber-h4-border-top-left-radiusX:			var( --khn-hnumber-h4-border-radius-commonX ) ;
	--khn-hnumber-h4-border-top-right-radiusX:			var( --khn-hnumber-h4-border-radius-commonX ) ;
	--khn-hnumber-h4-border-bottom-right-radiusX:		var( --khn-hnumber-h4-border-radius-commonX ) ;
	--khn-hnumber-h4-border-bottom-left-radiusX:			var( --khn-hnumber-h4-border-radius-commonX ) ;

	--khn-hnumber-h4-before-border-left-radius-commonX:	var( --khn-hnumber-default-before-border-radiusX ) ;
	--khn-hnumber-h4-before-border-top-left-radiusX:		var( --khn-hnumber-h4-before-border-left-radius-commonX ) ;
	--khn-hnumber-h4-before-border-top-right-radiusX:	var( --khn-hnumber-default-before-border-top-right-radiusX )	;
	--khn-hnumber-h4-before-border-bottom-right-radiusX:	var( --khn-hnumber-h4-before-border-top-left-radiusX ) ;
	--khn-hnumber-h4-before-border-bottom-left-radiusX:	0 ;
	
	--khn-hnumber-h5-border-radius-commonX:				var( --khn-hnumber-default-border-radiusX ) ;
	--khn-hnumber-h5-border-top-left-radiusX:			var( --khn-hnumber-h5-border-radius-commonX ) ;
	--khn-hnumber-h5-border-top-right-radiusX:			var( --khn-hnumber-h5-border-radius-commonX ) ;
	--khn-hnumber-h5-border-bottom-right-radiusX:		var( --khn-hnumber-h5-border-radius-commonX ) ;
	--khn-hnumber-h5-border-bottom-left-radiusX:			var( --khn-hnumber-h5-border-radius-commonX ) ;

	--khn-hnumber-h5-before-border-left-radius-commonX:	var( --khn-hnumber-default-before-border-radiusX ) ;
	--khn-hnumber-h5-before-border-top-left-radiusX:		var( --khn-hnumber-h5-before-border-left-radius-commonX ) ;
	--khn-hnumber-h5-before-border-top-right-radiusX:	var( --khn-hnumber-default-before-border-top-right-radiusX )	;
	--khn-hnumber-h5-before-border-bottom-right-radiusX:	var( --khn-hnumber-h5-before-border-top-left-radiusX ) ;
	--khn-hnumber-h5-before-border-bottom-left-radiusX:	0 ;
	
	--khn-hnumber-h6-border-radius-commonX:				var( --khn-hnumber-default-border-radiusX ) ;
	--khn-hnumber-h6-border-top-left-radiusX:			var( --khn-hnumber-h6-border-radius-commonX ) ;
	--khn-hnumber-h6-border-top-right-radiusX:			var( --khn-hnumber-h6-border-radius-commonX ) ;
	--khn-hnumber-h6-border-bottom-right-radiusX:		var( --khn-hnumber-h6-border-radius-commonX ) ;
	--khn-hnumber-h6-border-bottom-left-radiusX:			var( --khn-hnumber-h6-border-radius-commonX ) ;

	--khn-hnumber-h6-before-border-left-radius-commonX:	var( --khn-hnumber-default-before-border-radiusX ) ;
	--khn-hnumber-h6-before-border-top-left-radiusX:		var( --khn-hnumber-h6-before-border-left-radius-commonX ) ;
	--khn-hnumber-h6-before-border-top-right-radiusX:	var( --khn-hnumber-default-before-border-top-right-radiusX )	;
	--khn-hnumber-h6-before-border-bottom-right-radiusX:	var( --khn-hnumber-h6-before-border-top-left-radiusX ) ;
	--khn-hnumber-h6-before-border-bottom-left-radiusX:	0 ;

}