/*	New partial, specific to the Kuhn-CSSvars fork, and to Kuhnian, to hold the new CSS variables  */
:root {
/***	Refactors partial _colors.scss ****/
/*	Specific colors */
	--color-grey-black:		hsl(210, 10%, 15%)	;
	--color-grey-dark:		hsl(210, 10%, 27%)	;
	--color-grey-light:		hsl(0, 0%, 80%)		;
	--color-grey-x-light:	hsl(0, 0%, 95%)		;
/*	Background color assignments */
	--color-background-body:		#fff	;
	--color-background-screen:		#f1f1f1	;
	--color-background-hr:			#ccc	;
	--color-background-button:		#e6e6e6	;
	--color-background-pre:			#eee	;
	--color-background-ins:			#fff9c0	;
/*	Text color assignments */
	--color-text-screen:			#21759b	;
	--color-text-input:				#666	;
	--color-text-input-focus:		#111	;
/*	Border color assignments */
	--color-border-button:			#ccc #ccc #bbb	;
	--color-border-button-hover:	#ccc #bbb #aaa	;
	--color-border-button-focus:	#aaa #bbb #bbb	;
	--color-border-input:			#ccc			;
	--color-border-abbr:			#666			;
/*	Link color assignments */
	--color-link:			var(--color-grey-black);
	--color-link-visited:	var(--color-grey-dark);
	--color-link-hover:		var(--color-grey-black);
	--color-text-main:		var(--color-grey-black);
/***	New CSS variables beyond any Sass variables defined in Kuhn ****/
/*	Theme colors */
	--khn-color-theme-primary:					#88187F		;
	--khn-color-theme-secondary:				#18882b		;
	--khn-color-theme-tertiary:					#885418		;
	--khn-color-theme-whitish:					white		;
	--khn-color-theme-grayish:					#777		;
	--khn-color-theme-dark-grayish:				#222		;
	--khn-color-theme-primary-contrast:			white		;
	--khn-color-theme-secondary-contrast:		white		;
	--khn-color-theme-tertiary-contrast:		white		;
	--khn-color-theme-whitish-contrast:			var(--khn-color-theme-dark-grayish)	;
/*	Other colors */
	--khn-color-theme-dark-blueish:				#575797		;
	--khn-color-theme-new-midnight-blueish:		#0202AB		;
	--khn-color-theme-pelorousish:				#1990b8		;
	--khn-color-theme-forest-greenish:			#2f9c0a		;
	--khn-color-theme-pigment-greenish:			#009a4d		;
	--khn-color-theme-tawnyish:					#cd6700		;
	--khn-color-theme-dark-violetish:			#7800cd		;
	--khn-color-theme-dark-magentaish:			#9a009a		;
/*	Text colors */
	--khn-color-text-default:					var(--khn-color-theme-dark-grayish)			;
	--khn-color-text-subdued:					var(--khn-color-theme-grayish)				;
	--khn-color-code-meta:						var(--khn-color-theme-dark-blueish)			;
	--khn-color-code:							var(--khn-color-theme-new-midnight-blueish)	;
	--khn-color-code-token-keyword:				var(--khn-color-theme-pelorousish)			;
	--khn-color-code-token-function-selector:	var(--khn-color-theme-forest-greenish)		;
	--khn-color-output:							black		;
	--khn-color-text-h1:						black		;
	--khn-color-text-h2:						mediumblue	;
	--khn-color-text-h3:						var(--khn-color-theme-pigment-greenish)		;
	--khn-color-text-h4:						var(--khn-color-theme-tawnyish)				;
	--khn-color-text-h5:						var(--khn-color-theme-dark-violetish)		;
	--khn-color-text-h6:						var(--khn-color-theme-dark-magentaish)		;
}