a {
	color:				var(--khn-color-link-unvisited)				;
	background-color:	var(--khn-color-background-link-unvisited)	;
	text-decoration:	var(--khn-text-decoration-link-unvisited)	;
	outline:			var(--khn-outline-link-unvisited)			;

	&:visited {
/*		color: $color__link-visited; */
		color: 				var(--khn-color-link-visited)				;
		background-color:	var(--khn-color-background-link-visited)	;
		text-decoration:	var(--khn-text-decoration-link-visited)		;
		outline:			var(--khn-outline-link-visited)				;
	}
	
	&:hover,
	&:focus {
/*		color: $color__link-hover;		*/
		color: 				var(--khn-color-link-hover)					;
		background-color:	var(--khn-color-background-link-hover)	;
		text-decoration:	var(--khn-text-decoration-link-hover)	;
	}
	
	&:active {
		color: 				var(--khn-color-link-active)			;
		background-color:	var(--khn-color-background-link-active)	;
		text-decoration:	var(--khn-text-decoration-link-active)	;
		outline:			var(--khn-outline-link-active)			;
	}
	
	&:hover {
		outline:			var(--khn-outline-link-hover)			;
	}
		
	&:focus {
/*		outline: thin dotted $color__grey_black;	*/
		outline:			var(--khn-outline-link-focus)			;
	}
}

/*
.page-content,
.entry-content,
.entry-summary,
.comment-content {

	a {
		text-decoration: none;
		border-bottom: 3px solid $color__grey_black;

		&:focus,
		&:hover {
			color: $color__grey_black;
			border-bottom-width: 5px;
		}
	}
}
*/