a {
	color:				var(--khn-color-link-unvisitedX)				;
	background-color:	var(--khn-color-background-link-unvisitedX)	;
	text-decoration:	var(--khn-text-decoration-link-unvisitedX)	;
	outline:			var(--khn-outline-link-unvisitedX)			;
	border-radius:		var( --khn-border-radius-linkX )				;

	&:visited {
/*		color: $color__link-visited; */
		color: 				var(--khn-color-link-visitedX)				;
		background-color:	var(--khn-color-background-link-visitedX)	;
		text-decoration:	var(--khn-text-decoration-link-visitedX)		;
		outline:			var(--khn-outline-link-visitedX)				;
	}
	
	&:hover,
	&:focus {
/*		color: $color__link-hover;		*/
		color: 				var(--khn-color-link-hoverX)					;
		background-color:	var(--khn-color-background-link-hoverX)	;
		text-decoration:	var(--khn-text-decoration-link-hoverX)	;
	}
	
	&:active {
		color: 				var(--khn-color-link-activeX)			;
		background-color:	var(--khn-color-background-link-activeX)	;
		text-decoration:	var(--khn-text-decoration-link-activeX)	;
		outline:			var(--khn-outline-link-activeX)			;
	}
	
	&:hover {
		outline:			var(--khn-outline-link-hoverX)			;
	}
		
	&:focus {
/*		outline: thin dotted $color__grey_black;	*/
		outline:			var(--khn-outline-link-focusX)			;
	}
}

/*
.page-content,
.entry-content,
.entry-summary,
.comment-content {

	a {
		text-decoration: none;
		border-bottom: 3px solid $color__grey_black;

		&:focus,
		&:hover {
			color: $color__grey_black;
			border-bottom-width: 5px;
		}
	}
}
*/